#include<iostream.h>
 int main()
 {
int age; 	
cout<<"Enter your age: \n";
cin>>age; 
(age >= 18)?cout<<"Yes, you are eligible for voting!\n":cout<<"No, you are not eligible for voting!\n"; 	
return 0;
}
